.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a {
  margin: 5px;
  color: #582f0e;
  transition: 1s ease;
}

.footer a :hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.5s ease;
}
