body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #582f0e;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 6rem auto;
  text-align: center;
  width: 80%;
}

.button {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 20px;
  border: 2px solid #ff5d8f;
  background: #ff5d8f;
  padding: 15px 0px;
  font-size: 20px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 30px auto;
  width: 20%;
  letter-spacing: 0.3rem;
}
.button:hover {
  background: #fff;
  color: #ff5d8f;
}
@media (max-width: 600px) {
  .container {
    width: 80%;
  }
  .button {
    font-size: 20px;
    padding: 20px 0;
    width: 50%;
  }
}
h1 {
  font-size: 3rem;
  margin-top: 20px;
}
h2 {
<<<<<<< HEAD
  font-size: 1.7rem;
=======
  font-size: 1.5rem;
>>>>>>> 2317aed32b0c01607a821a2bfe6ac58e7c1fa292
  text-align: center;
  margin: 20px;
}
h3 {
  font-size: 1.2rem;
  margin: 30px 0px;
}

p {
  font-size: 1rem;
  margin: 0.2rem;
}
a {
  color: #582f0e;
}
